<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>じかんわり2016</title>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
  <script>
    var schedule = {};
  </script>
  <!-- 時間割データ読み込み -->
  <script src="./schedule/情報工学科.js"></script>
  <script src="./schedule/情報工学系.js"></script>
  <script src="./schedule/文系.js"></script>
  <script src="./schedule/第二外国語.js"></script>
  <script src="./main.js"></script>
  <style>
  .list-group{
    margin-bottom:2px;
  }
  .list-group-item{
    padding:3px 5px;
  }
  .table tbody tr td{
    padding:1px;
  }
  </style>
</head>
<body>
  <div class="container" id="app">
    <h1>おふとんは最高、異論は認めない</h1>
    <h2>利用上の注意</h2>
    <ul>
      <li>疲れからか不幸にも黒塗りの誤字脱字に追突する可能性が微粒子レベルで存在するので誰かverifyして</li>
      <li>基本自己責任</li>
      <li>Twitter : <a href="https://twitter.com/_n_ari">@_n_ari</a></li>
      <li>GitHub : <a href="https://github.com/n-ari/jikanwari2016">ここ</a></li>
    </ul>
    
    <div class="row">
      <div id="special_controller" class="col-sm-2">
        <p>プリセット</p>
        <button v-on:click="JKE">JKE</button>
        <button v-on:click="JKO">JKO</button>
        <button v-on:click="JKEO">JKEO</button>
      </div>
      <div id="controller" class="col-sm-10">
        <p>詳細設定</p>
        <label v-for="subj in subjectList" class="checkbox-inline">
          <input type="checkbox" id="subj-{{subj}}" value="{{subj}}" v-model="list">
          {{subj}}
        </label>
        <br>
        <button v-on:click="update">Update</button>
      </div>
    </div>
    <hr>

    <div v-for="(q,quarter) in items">
      <h2>{{q+1}}Q</h2>
      <table class="table" id="Q{{q+1}}">
        <tr v-for="(i,item) in quarter">
          <td v-for="(j,it) in item">
            <span v-show="i==0 || j==0">
              <strong>{{it}}</strong>
            </span>
            <span v-else>
              <ul class="list-group">
                <li v-for="iii in it" class="list-group-item" style="background-color: {{iii[0]}};">
                  {{iii[1]}}
                </li>
              </ul>
            </span>
          </td>
        </tr>
      </table>
    </div>

  </div>
</body>
</html>